
<nav class="navbar" onresize="normalMenu()">

    <div class="hamburguer-btn" onclick="expandMenu()">
        <i class='bx bx-menu bx-lg' style="color: white"></i>
    </div>
    <ul class="bx-ul list-nav">
        <li class="item-list-nav">
           <i class='bx bxs-dashboard' style="color:white"></i> <a href="#" class="link-nav" >Dashboard</a>
        </li>
        <li class="item-list-nav">
            <i class='bx bx-cloud-light-rain ' style="color:white"></i> <a class="link-nav" href="#">Chuvas</a>
        </li>
        <li  class="item-list-nav">
            <i class='bx bxs-report' style="color:white" ></i> <a class="link-nav" href="#">Gado</a>
        </li>
        <li  class="item-list-nav">
            <i class='bx bx-cheese' style="color:white"> </i> <a class="link-nav" href="#">Leite</a>
        </li>
        <li  class="item-list-nav">
            <i class='bx bx-money' style="color:white"></i> <a class="link-nav" href="#">Despesas</a>
        </li>
        <li  class="item-list-nav">
            <i class='bx bx-spreadsheet' style="color:white"></i> <a class="link-nav" href="#">Relatórios</a>
        </li>
    </ul>

    <h1 class="title-nav">FAZENDA IO</h1>
    
</nav>